<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Sklep internetowy</title>
</head>
<body>
<header>
  <div class="logo">
    <a href="/"><img class="imglogo" src="https://azs.waw.pl/wp-content/uploads/2019/11/pjatk.png"
                              alt="PJATK sklep"></a>
  </div>
  <div class="wyszukiwarka">
    <input type="text" placeholder="Wyszukaj">
  </div>
  <nav class="navbar">
    <a href="/products">Towary</a>
    <a href="#popularneTowary">Popularne towary</a>
    <a href="#specjalisci">Specjaliści</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </nav>
</header>
<div class="content">
  <div class="info">
    <h1>PJATK Sklep</h1>
    <p>Mamy bardzo fajną produkcje, <span>ale nie wszystkim się ona podoba!</span></p>
  </div>

  <div class="wszystkietowary">
    <div class="towary">
      <h2 id="towary">Nasze towary</h2>
      <ul>
        <li>ITN</li>
        <li>Poprawa egzaminu</li>
        <li>Zaliczenie przedmiotu</li>
      </ul>
    </div>
    <div class="popularneTowary">
      <h2 id="popularneTowary">Najbardziej popularne towary</h2>
      <ol>
        <li>ITN PPJ</li>
        <li>ITN GUI</li>
        <li>Poprawa egzaminu MAD</li>
        <li>Poprawa egzaminu ASD</li>
      </ol>
    </div>
  </div>

  <div class="specjalisci">
    <h2 id="specjalisci">Nasze specjaliści</h2>
    <table class="styled-table">
      <thead>
      <tr>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Towar</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Michał</td>
        <td>Tomaszewski</td>
        <td>ITN PPJ</td>
      </tr>
      <tr>
        <td>Piotr</td>
        <td>Chrząstowski</td>
        <td>Poprawa egzaminu ASD</td>
      </tr>
      <tr>
        <td>Michał</td>
        <td>Tomaszewski</td>
        <td>ITN PPJ</td>
      </tr>
      <tr>
        <td>Piotr</td>
        <td>Chrząstowski</td>
        <td>Poprawa egzaminu ASD</td>
      </tr>
      <tr>
        <td>Michał</td>
        <td>Tomaszewski</td>
        <td>ITN PPJ</td>
      </tr>
      <tr>
        <td>Piotr</td>
        <td>Chrząstowski</td>
        <td>Poprawa egzaminu ASD</td>
      </tr>
      </tbody>
    </table>
    <button class="btn-table">Dodaj</button>
    <button class="btn-table">Usuń</button>
    <button class="btn-table">Modyfikuj</button>
  </div>
</div>
<footer>
  <a href="mailto:fakepjatksklep@fake.fake">Send us an email</a>
  <a href="https://www.instagram.com/PJATK">Instagram</a>
  <a href="/">Leave a comment</a>
</footer>
</body>
</html>