<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Info</title>
</head>
<body>
<div>
    <h1>Id: <%= product.id%></h1>
    <h1>Nazwa: <%= product.name%></h1>
    <h1>Cena: <%= product.price%></h1>
    <h1>CreatedAt: <%= product.createdAt%></h1>
    <a href="/products">Powrot</a>
</div>
</body>
</html>